.feature{
    background-color: $lightGrayishBlue;
    padding: 70px;
    @include breakpoint-up(large) {
      
      &.parallax {
       
        background-image: url("../here-comes-the-money.svg");
      
        
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      
      
      
    }
    
    h2{
color:$darkBlue;
  
  font-weight: 300;
  @include breakpoint-up(medium){
    padding-left:100px;
  }
    }
    p{ 
        font-size: $font-small;
        @include breakpoint-up(medium){
          padding-left:100px;
        padding-right:500px;
        margin-top:20px;
        margin-bottom:50px;
        }
    }

  &__grid {
   
    @include breakpoint-up(large) {
      display: flex;
      gap:20px;
      margin:0px 100px;
      .parallax {
        /* The image used */
        background-image: url("/here-comes-the-money.svg");
      
        /* Full height */
        
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
      
      
      
    }
  }

  &__items {
    
    padding:0.937rem;
    
    
@include breakpoint-up(medium){
      flex:0 0 50%;
}

    @include breakpoint-up(large) {
      flex: 1;
      
    }
  }

  
  &__title {
    color:$darkBlue;
    margin:25px 0px;
  }

  &__description {
    color: $grayishBlue;
    font-size: $font-small;
    padding-bottom:20px;
  }
}
