.hero {
  
  @include breakpoint-up(large){
    display: flex;
    min-height: 41rem;
    
  }
  &__images {
     z-index: -1;
    position: relative;
    background-image: url(../images/bg-intro-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 20rem; 

    @include breakpoint-up(large){
      background-image: url(../images/bg-intro-desktop.svg)  ;
      flex:1;
      order:2;
      background-position: center left;
      
    }
    &::before {
      content:"";
      height: 100%;
      width:100%;
      position: absolute;
      background-image: url(../images/image-mockups.png);
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
    }
  }

  &__text {
    text-align: center;
    margin-bottom:50px;
    @include breakpoint-up(large){
      flex:1;
      align-self: center;
      
      
    }
    h1{
      font-weight: 300;
      color: $darkBlue;
      @include breakpoint-up(large){
        font-size: $font-xlg;
      }
    }

    p{
      line-height: 1.5rem;
      margin-bottom: 2.25rem;
    }
    
    
  }
}
